
.d-artist ul{
    list-style: none;
}
.d-artist ul li{
    margin-top: 2rem;
}

.d-artist ul{
    margin-bottom: 2rem;
}
.d-artist ul  ul{
  //  display: none;
  background-color: rgba(0, 0, 0, 0.699);
  color: white;
  
}
.d-artist ul li ul li{
    display: none;
}

.d-artist ul li ul li{
   text-align: center;
}
.news ul{
    list-style: none;
   // width: 14rem;
    
}
.news ul li{
    margin-top: 2rem;
}

.news ul{
    margin-bottom: 2rem;
}
.news ul  ul{
  //  display: none;
  background-color: rgba(0, 0, 0, 0.699);
  color: white;
  
}
.news ul li ul li{
    display: none;
}

/// animations
@keyframes newsanime{
    0% {opacity: 0;}
    25% {opacity: 25;}
    50% {opacity: 50;}
    75% {opacity: 75;}
    100% {opacity: 100;}
}
.news ul li:hover ul li{
    display: block;
    margin-bottom: -12rem;
    animation-name: newsanime;
    animation-duration: 5s;
}
.d-artist ul li:hover ul li{
    display: block;
    margin-bottom: -12rem;
      animation-name: newsanime;
    animation-duration: 5s;
}
.news ul li ul li{
   text-align: center;
}
.follow{
    z-index: 4;
}
nav{
    z-index: 3;
}
nav a:focus{
    border-bottom: 3px solid black;
}
nav a{
   color: black;
   font-size: 1rem;
   font-weight: 500;
}
nav a:hover {
    border-bottom: 3px solid black;
    color: black;
}
.domestic-artist{
 width: 12rem;
 margin-right: 21rem;
 margin-bottom: -28rem;
}
.artist-btn{
    font-weight: 500;
}
.artist-btn:hover{
     border-bottom: 3px solid black;
}
.artist-btn:focus{
    outline: 0px;
}
.follow a{
    width: 3rem;
}


.logo{
    width: 8.8rem;
    height: 7rem;
}

.carousel{
    //margin-top: 1rem;
    height: 100vh;
    //background-color: black;
}
.carousel-content{
    height: 100vh;
}
.content-1{
    background-image: url(../assets/img/1.jpg);
    background-repeat: no-repeat;
    background-position:center top;
    background-size: cover;
    height: 100vh;
}
.content-2{
    background-image: url(../assets/img/4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.content-3{
    background-image: url(../assets/img/3.jpg);
    background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
 
}
.carousel-indicator{
    height: 3rem;
    width: 3rem;
    margin-bottom: 4rem;
}
.carousel-cap{
    background: rgba(0, 0, 0, 0.363);
    margin-top: 20rem;
    height: 100vh;
    color: #ffffff;
    padding-top: 1rem;
}
.bg-light{
    background-color: rgba(255, 255, 255, 0.616);
    
}
.contact-info{
    padding-top: 8rem;
    color: white;
}
.contact-info a{
    color: white;
    text-decoration: none;
}
.contact{
    background-image: url(../assets/img/contact_page_bg.jpg);
     background-position:  top;
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
   // width: 100vw;
   background-attachment: fixed;
}

//About an artist////@at-root
.artist-intro{
    background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.082) 18%, rgb(0, 0, 0) 56%), url(../assets/img/3.jpg);
     background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    color: white;
}
.artist-bio{
    padding-top: 18rem;
    text-align: center;
}
.artist-bio h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.artist-bio p{
    font-size: 1.7rem;
    padding: 5rem 12rem;
}
.about-artist{
    background-color: black;
    margin-top: -2rem;
    color: white;
}
.about-artist p{
    font-size: 1.1rem;
    padding: 0rem 3rem;
}
.artist-contact{
    background-image:linear-gradient( rgba(0, 0, 0, 0.575) 18%, rgba(0, 0, 0, 0.575)), url(../assets/img/contact_page_bg.jpg);
    height: 230px;
}
.social{
    margin-top: 4rem;
}
.buy-btn{
    margin-left: 40rem;
}
.blogs{
    background-image: url(../assets/img/contact_page_bg.jpg);
    background-size:cover;
     background-position: top;
    background-repeat: no-repeat;
    height: fit-content;
    background-attachment: fixed;
    color: white;

}

.card{
   // width: 40rem;
    background-color: #000;
    color: black;
   // margin-left: 3rem;
}
.video-container{
     overflow: hidden;
    position: relative;
    width:100%;
}
.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/// Media queries
@media screen and (max-width: 441px) {
  .carousel-cap{
      margin-top: 19rem;
      height: 100vh;
  }
  .carousel-indicator{
      margin-top: 33rem;
  }
  .artist-intro{
    background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.082) 18%, rgb(0, 0, 0) 56%), url(../assets/img/3.jpg);
     background-position:  center;
   // background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    color: white;
}
.artist-bio{
    padding-top: 18rem;
    text-align: center;
}
.artist-bio h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.artist-bio p{
    font-size: 1.7rem;
    padding: 2rem 1rem;
}
.buy-btn{
    margin-left: 8rem;
}
  
}

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
@import'/node_modules/bootstrap/scss/bootstrap.scss';